.first{
    display:inline-block;
    margin-top: 10px;
}
.email{
    width:400px;
    display: block;
    margin-top: 20px;
padding-bottom: 10px;
}
button{
    background-color: blue;
    color: white;
    font-display: middle;
    width: 400px;
    border-style: solid;
    margin-top: 20px;
}