.flexbox{
    border-width: 2px;
    border-color: grey;
    border-style: solid;
    width:300px;
   
}
.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;

}
.notifications{
    background-color: blue;
    border-radius: 18px;
    border-style: solid;
    border:none;
    display: inline-block;
    color:white;
    font-size: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right:10px ;
}
div{
    font-family: arial;
}