body{
    height:3000px;
}
.close-button{
    background-color: black;
    color:white;
    position: absolute;
    top:15px;
    right:15px;
    font-family: arial;
    font-size: 20px;
    width:45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 25px;
}